# MacOS
.DS_Store
*.pem

# build output
dist/
build/
artifacts/
.turbo
.vinxi
.output
.nitro
.expo/
web-build/
*.tsbuildinfo

# we use Expo CNG
android/
ios/

# Dependencies
node_modules
.pnpm-store/

# Editors
**/.idea
**/.#*
.vscode

# Config
.env.keys
expo-env.d.ts
tsconfig.tsbuildinfo
**/app.config.timestamp_*

# Mobile > Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Mobile > Metro
.metro-health-check*

# Debug Outputs
npm-debug.*
yarn-debug.*
yarn-error.*
