node-version=22.13.0
engine-strict=true
save-exact = true
save-prefix=""
strict-peer-dependencies = false
link-workspace-packages=false
save-workspace-protocol=rolling
auto-install-peers = true
lockfile = true
